graft redturtle
include *.cfg *.rst *.in

# added by check_manifest.py
include *.py
include .travis.yml
include Makefile
recursive-include docs *.py
recursive-include docs *.rst
recursive-include redturtle *.css
recursive-include redturtle *.gitkeep
recursive-include redturtle *.js
recursive-include redturtle *.pt
recursive-include redturtle *.xml
recursive-include redturtle *.zcml
